<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="text-center">
                <img src="./assets/images/welcome.png" class="img-responsive center-block"
                    style="max-height:300px;padding-bottom:50px" />
            </div>

            <div class="text-center">Developed by:</div>
            <div class="text-center">
                <h3>Nicoleta Hermeneanu</h3>
            </div>

            <div class="text-center">@nicoletahrm</div>
            <div class="text-center">
                <a href="https://github.com/nicoletahrm">GitHub</a>
            </div>
        </div>
    </div>
</div>