<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <br>

    <form class="card-body" [formGroup]="earthquakeForm">
        <div class="form-group">
            <label for="start-date" [class.theme-input-required-asterisk]="!earthquakeForm.get('start')?.value">Start
                date:</label>
            <input type="date" class="form-control" id="start-date" formControlName="start">

            <p *ngIf="earthquakeForm.get('start')?.errors?.['dateInFuture']">{{ message }}</p>

        </div>

        <br>

        <div class="form-group">
            <label for="end-date" [class.theme-input-required-asterisk]="!earthquakeForm.get('end')?.value">End
                date:</label>
            <input type="date" class="form-control" id="end-date" formControlName="end">

            <p *ngIf="earthquakeForm.get('end')?.errors?.['dateInFuture']">{{ message }}</p>

            <p *ngIf="earthquakeForm.get('start')?.errors?.['startError']">
                {{ message1 }}
            </p>
        </div>

        <br>

        <div class="form-group">
            <label for="magnitude">Max magnitude:</label>
            <input type="number" class="form-control" id="magnitude" formControlName="magnitude">
        </div>

        <br>

        <div class="form-group">
            <label for="order-by">Order by:</label>
            <select class="form-select" formControlName="orderBy">
                <option *ngFor="let item of items" [value]="item">
                    {{item}}
                </option>
            </select>
        </div>

        <br>

        <button type="button" [disabled]="!earthquakeForm.valid" class="btn btn-primary" (click)="getEarthquakes()">Search</button>
    </form>

</div>
<br><br>
<div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Magnitude</th>
                    <th>Place</th>
                    <th>Type</th>
                    <th>Coordinates</th>
                </tr>
            </thead>

            <tbody class="table" *ngIf="earthquakesToDisplay && earthquakesToDisplay.length">
                <tr class="tr-earthquake" *ngFor="let earthquake of earthquakesToDisplay"
                    [routerLink]="['/earthquake-by-params', earthquake.id]" (click)="clickEarthquake(earthquake)">
                    <td>{{ earthquake.magnitude }}</td>
                    <td>{{ earthquake.place }}</td>
                    <td>{{ earthquake.type }}</td>
                    <td>{{ earthquake.coordinates }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>